/* || General setup */

nav, aside, article, footer {
  border-radius: 10px;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #f8eff5;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || typography */

p, input, li, label, button, a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px #e66283;
  font-family: 'Cheeky_Rabbit','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: #2a2a2a;
  font-family: 'Cabin','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
  font-size: 2.2rem;
  color: #2a2a2a;
  font-family: 'Cabin','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

nav, article, aside, footer {
  background-color: white;
  padding: 1%;
}

nav {
  height: 50px;
  background-color:#e66283;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
  font-family: 'Cabin','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: whitesmoke;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
  position: relative;
  text-align: center;
}

figcaption{
  font-size: x-small;
  padding-top: 10px;
  color:#2a2a2a;
  font-family: 'Cabin';
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #e66283;
}

aside a, li {
  padding-bottom: 10px;
  color: whitesmoke;
}

aside h2 {
  color: whitesmoke;
}

footer {
  margin-top: 10px;
}

form, .linkDisplay, .scheduleDisplay {
  font-size:medium;
  color:#2a2a2a;
  font-family: 'Cabin';
}